
<div class="sidenav">


<div class="sidenav d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
<!--           
            <a href="OverviewFN" class="list-group-item list-group-item-action" >
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
              </svg> <span style="margin-left: 10px; font-size:15px;">Overview</span></a> -->
      

              <div class="list-unstyled components dropdown">
                <button class="dropdown-btn"  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                  </svg>
                  <a href="/OverviewFN"  style="text-decoration: none;    color: #42526E;">
                    <span>Overview</span></a>
                </button>
              </div>


            <!-- <button class="dropdown-btn list-group-item list-group-item-action">
          
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-alipay" viewBox="0 0 16 16">
                <path d="M2.541 0H13.5a2.551 2.551 0 0 1 2.54 2.563v8.297c-.006 0-.531-.046-2.978-.813-.412-.14-.916-.327-1.479-.536-.303-.113-.624-.232-.957-.353a12.98 12.98 0 0 0 1.325-3.373H8.822V4.649h3.831v-.634h-3.83V2.121H7.26c-.274 0-.274.273-.274.273v1.621H3.11v.634h3.875v1.136h-3.2v.634H9.99c-.227.789-.532 1.53-.894 2.202-2.013-.67-4.161-1.212-5.51-.878-.864.214-1.42.597-1.746.998-1.499 1.84-.424 4.633 2.741 4.633 1.872 0 3.675-1.053 5.072-2.787 2.08 1.008 6.37 2.738 6.387 2.745v.105A2.551 2.551 0 0 1 13.5 16H2.541A2.552 2.552 0 0 1 0 13.437V2.563A2.552 2.552 0 0 1 2.541 0Z"/>
                <path d="M2.309 9.27c-1.22 1.073-.49 3.034 1.978 3.034 1.434 0 2.868-.925 3.994-2.406-1.602-.789-2.959-1.353-4.425-1.207-.397.04-1.14.217-1.547.58Z"/>
              </svg>
              <span style="margin-left: 10px; font-size:15px;"> Fees & Payment</span>
             
              <i class="fa fa-caret-down" style="margin-left: 15px;"  ></i>
             
            </button>
            <div class="dropdown-container">
              <a href="Monthly-fees-payment.html">Monthly Fees Payment</a>
              <a href="Annual-Fees-Payment.html">Annual Fees Payment</a>
              <a href="Other-fees-payment.html">Other Fees Payment</a>
            </div> -->


            <div class="list-unstyled components dropdown">
              <button class="dropdown-btn"  >
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-alipay" viewBox="0 0 16 16">
                  <path d="M2.541 0H13.5a2.551 2.551 0 0 1 2.54 2.563v8.297c-.006 0-.531-.046-2.978-.813-.412-.14-.916-.327-1.479-.536-.303-.113-.624-.232-.957-.353a12.98 12.98 0 0 0 1.325-3.373H8.822V4.649h3.831v-.634h-3.83V2.121H7.26c-.274 0-.274.273-.274.273v1.621H3.11v.634h3.875v1.136h-3.2v.634H9.99c-.227.789-.532 1.53-.894 2.202-2.013-.67-4.161-1.212-5.51-.878-.864.214-1.42.597-1.746.998-1.499 1.84-.424 4.633 2.741 4.633 1.872 0 3.675-1.053 5.072-2.787 2.08 1.008 6.37 2.738 6.387 2.745v.105A2.551 2.551 0 0 1 13.5 16H2.541A2.552 2.552 0 0 1 0 13.437V2.563A2.552 2.552 0 0 1 2.541 0Z"/>
                  <path d="M2.309 9.27c-1.22 1.073-.49 3.034 1.978 3.034 1.434 0 2.868-.925 3.994-2.406-1.602-.789-2.959-1.353-4.425-1.207-.397.04-1.14.217-1.547.58Z"/>
                </svg>
                <a data-toggle="collapse" aria-expanded="false" style="text-decoration: none;color: black;">
                  <span>Fees & Payment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" style="margin-left: 15px;" (click)="  toggleFeesDropdown()"></i></span></a>
                <div class="collapse list-unstyled submenu" [ngClass]="{'show': isFeesDropdownVisible}" id="homeSubmenu">
                  <li><a href="Monthly-fees-payment.html">Monthly Fees Payment</a></li>
                  <li> <a href="Annual-Fees-Payment.html">Annual Fees Payment</a></li>
                  <li><a href="Other-fees-payment.html">Other Fees Payment</a></li>
                </div>
              </button>
            </div>

            <div class="list-unstyled components dropdown">
              <button class="dropdown-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-bar-graph-fill" viewBox="0 0 16 16">
                  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
                </svg>
                <a  data-toggle="collapse" aria-expanded="false" style="text-decoration: none;color: black;">
                  <span>Tax Challan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" style="margin-left: 15px;" (click)="toggleTaxChallanDropdown()"></i></span></a>
                  <div class="collapse list-unstyled submenu" [ngClass]="{'show': isTaxChallanDropdownVisible}" id="taxchallen">
                    <li><a href="Pay-GST.html">Pay GST</a></li> 
                    <li><a href="Direct-Tax.html">Direct GST</a></li> 
                    <li><a href="Indirect-GST.html">Indirect GST</a></li> 
                    <li><a href="GSTN-Details.html">GSTN Details</a></li>
                    <li><a href="GSTN-Report.html">GSTN report</a></li>
                    <li> <a href="GSTN-Bulk-Upload.html">GSTN Bulk Upload</a></li>
                    <li><a href="State-Tax.html">State Taxes</a></li>  
                   </div>
              </button>
            </div>


            <div class="list-unstyled components dropdown">
              <button class="dropdown-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-arrow-up-fill" viewBox="0 0 16 16">
                  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM7.5 6.707 6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707z"/>
                </svg>
                <a data-toggle="collapse" aria-expanded="false" style="text-decoration: none;color: black;">
                  <span> Documents &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" style="margin-left: 15px;" (click)="toggledocumentDropdown()" ></i></span></a>
                <div class="collapse list-unstyled submenu"  [ngClass]="{'show': isdocumentDropdownVisible}" id="document">
                  <li><a href="Bank-Statements.html">Bank Statement</a></li>
                  <li> <a href="Sales-Invoice.html">Sales Invoice</a></li>
                    <li><a href="Purchase-Invoice.html">Purchase Invoice</a></li>
                      <li><a href="DOC-Outstanding-Loan.html">Outstanding Loan</a></li>
                        <li><a href="Pay-In-Slips.html">Pay-in-slips</a></li>
                          <li><a href="Taxes.html">Taxes</a></li>
                            <li><a href="Chequebook-Records.html">Chequeboot Records</a></li>
                              <li><a href="Investment-Details.html">Investment Details</a></li>
                                <li><a href="Vehicles.html">Vehicles</a></li>
                                  <li> <a href="Customer-KYC.html">Customer KYC</a></li>
                                    <li><a href="Expense-Details.html">Expense Detail</a></li>
                  
                </div>
              </button>
            </div>


            <div class="list-unstyled components dropdown">
              <button class="dropdown-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-browser-chrome" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                </svg>
                <a  data-toggle="collapse" aria-expanded="false" style="text-decoration: none;color: black;">
                  <span> Acknowledgement &nbsp;<i class="fa fa-caret-down" style="margin-left: 15px;" (click)="toggleacknowDropdown()"></i></span></a>
                <div class="collapse list-unstyled submenu"  [ngClass]="{'show': isacknowDropdownVisible}" id="acknow">
                  <li><a href="Income-Tax.html">Tax Payment</a></li>
                  <li> <a href="(GST).html">(GST) Goods & Service Tax</a></li>
                    <li><a href="Firm-Tax.html">Firm Tax</a></li>
                      <li><a href="Individual-Tax.html">Individual Tax</a></li>
                        <li><a href="TDS-TCS.html">TDS / TCS</a></li>
                          <li><a href="Roc-Compliance.html">ROC compliance</a></li>
                            <li><a href="Other.html">Other</a></li>
                              
                  
                </div>
              </button>
            </div>

            <div class="list-unstyled components dropdown">
              <button class="dropdown-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <a data-toggle="collapse" aria-expanded="false" style="text-decoration: none;color: black;">
                  <span> Insure & Invest&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" style="margin-left: 15px;" (click)="toggleinsureinvestDropdown()"></i></span></a>
                <div class="collapse list-unstyled submenu"  [ngClass]="{'show': isinsureinvestDropdownVisible}" id="insureinvest">
                  <li> <a href="Insure&Invest-FIXED-DEPOSIT.html">Fixed Deposit</a></li>
                   <li><a href="Insure&Invest-Mutual-fund.html">Mutual Funds</a></li>
                  <li><a href="Insure&Invest-INSURANCE.html">Insurance</a></li>
                </div>
              </button>
            </div>
            <div class="list-unstyled components dropdown">
              <button class="dropdown-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-bar-graph-fill" viewBox="0 0 16 16">
                  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
                </svg>
                <a  data-toggle="collapse" aria-expanded="false" style="text-decoration: none;color: black;">
                  <span> My Account &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" style="margin-left: 15px;" (click)="togglemyaccountDropdown()"></i></span></a>
                  <div class="collapse list-unstyled submenu"   [ngClass]="{'show': ismyaccountDropdown}" id="myacount">
                    <li><a href="Div-Live-AC.html">Live Account</a></li>
                    <li><a href="Outstanding-Loan.html">Outstanding Loan</a></li>
                      <li><a href="Periodic-Statement.html">Periodic Statement</a></li>
                      <li> <a href="E-STATEMENT.html">E-Statement</a></li>
                        <li><a href="Statement-Request.html">Statement Request</a></li>
                          <li>  <a href="REGISTER-FOR-STATEMENT.html">Register for Statement</a></li>
                            <li><a href="GST-Statement.html">Get Tax Statement</a></li>  
                   </div>
              </button>
            </div>
           
          </div>
        </div>
        
      </div>
      
    </div>