* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa";
}

body{
    background-color: #f7fbfe;
}
/* ************ Nav bar Css ************ */

.nav {
    background-color: #f7fbfe;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5%;

}

#logo {
    width: 160px;
    height: 70px;
    margin-left: 30px;
    margin-top: 30px;
}

.nav{
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
}


.nav ul {
    position: absolute;
    margin-left: 230px;
    margin-top: 75px;
    list-style: none;
    display: flex;
}

.nav ul li {
    padding: 10px 12px;
    position: relative;
    transition: 0.25s;
}


.nav ul li a {
    color: #0F75bb;
    text-decoration: none;
    transition: all 0.3s;
}

.nav ul li a:hover {
    color: #3bb161;
}


.ho a:hover::before {
    transform: scaleX(1);
}

.ho[data-animation="to-left"] a::before {
    transform-origin: right;
}

.ho[data-animation="center"] a::before {
    transform-origin: center;
}

.ho a {
    position: relative;
}

.ho a::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 25px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #57aa46, #4ea83c, #02c212);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}



/* ************ 1st Dropdown ************ */
.fas{
    float: right;
    margin-left: 10px;
    margin-top: 3px;
}


.dropdown__menu{
    display: none;
    
}

.nav ul li:hover .dropdown__menu  {
    display: block;
    position: absolute;
    left: 5;
    top: 45px;
    width: 150px;
    height: 179px;
    font-size: 14px;
    background-color: #0f75bc;
}

.dropdown__menu ul {
    display: block;
    margin: -10px;
    margin-top: 0px;
}

.dropdown__menu ul li {
    padding: 11px 18px;
    margin-left: 10px;
    margin-top: -1px;
    border: solid 1px gray;
    width: 150px;
    height: 46px;
    transition: all 0.45s;
}

.dropdown__menu ul li a {
        position: absolute;
        color: white;
}

.dropdown__menu ul li a:hover{
    color: white;
}

.dropdown__menu ul li:hover{
    background-color: #3bb161;
}


/* ************ 1st Dropdown End ************ */

/* ************ 2nd Dropdown ************ */

.dropdown__menu1{
    display: none;
    
}

.nav ul li:hover .dropdown__menu1  {
    display: block;
    position: absolute;
    left: 5;
    top: 45px;
    width: 240px;
    height: 270px;
    font-size: 14px;
    background-color: #0f75bc;
}

.dropdown__menu1 ul {
    display: block;
    margin: -10px;
    margin-top: 0px;
}

.dropdown__menu1 ul li {
    padding: 11px 18px;
    margin-left: 10px;
    margin-top: -1px;
    border: solid 1px gray;
    width: 240px;
    height: 46px;
    transition: all 0.45s;
}

.dropdown__menu1 ul li a {
        position: absolute;
        color: white;
}

.dropdown__menu1 ul li a:hover{
    color: white;
}

.dropdown__menu1 ul li:hover{
    background-color: #3bb161;
}


/* ************ 2nd Dropdown end ************ */


/* ************ 3rd Dropdown ************ */

.dropdown__menu2{
    display: none;
    
}

.nav ul li:hover .dropdown__menu2  {
    display: block;
    position: absolute;
    left: 5;
    top: 45px;
    width: 190px;
    height: 270px;
    font-size: 14px;
    background-color: #0f75bc;
}

.dropdown__menu2 ul {
    display: block;
    margin: -10px;
    margin-top: 0px;
}

.dropdown__menu2 ul li {
    padding: 11px 18px;
    margin-left: 10px;
    margin-top: -1px;
    border: solid 1px gray;
    width: 190px;
    height: 46px;
    transition: all 0.45s;
}

.dropdown__menu2 ul li a {
        position: absolute;
        color: white;
}

.dropdown__menu2 ul li a:hover{
    color: white;
}

.dropdown__menu2 ul li:hover{
    background-color: #3bb161;
}

/* ************ 3rd Dropdown End ************ */


/* ************ 4th Dropdown ************ */

.dropdown__menu3{
    display: none;
    
}

.nav ul li:hover .dropdown__menu3  {
    display: block;
    position: absolute;
    left: 5;
    top: 45px;
    width: 220px;
    height: 90px;
    font-size: 14px;
    background-color: #0f75bc;
}

.dropdown__menu3 ul {
    display: block;
    margin: -10px;
    margin-top: 0px;
}

.dropdown__menu3 ul li {
    padding: 11px 18px;
    margin-left: 10px;
    margin-top: -1px;
    border: solid 1px gray;
    width: 220px;
    height: 46px;
    transition: all 0.45s;
}

.dropdown__menu3 ul li a {
        position: absolute;
        color: white;
}

.dropdown__menu3 ul li a:hover{
    color: white;
}

.dropdown__menu3 ul li:hover{
    background-color: #3bb161;
}

/* ************ 4rt Dropdown End ************ */


#Home a{
    color: #3BB161;
}

.nav p a {
    text-decoration: none;
    color: #0f75bc;
    margin-top: -5px;
    font-size: 15px;
    margin-left: 250px;
    position: absolute;
}

.nav p a:hover,
.nav a svg:hover {
    color: #3BB161;
}


.nav p {
    padding: 0px 0px;
    margin-top: 30px;
}

.nav-btn {
    margin-left: 1150px;
    height: 45px;
    width: 172px;
    position: absolute;
    margin-top: 53px;
    border: 20px;
    background-color: #39b54a;
    font-size: 15px;
    text-align: center;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
}
.nav-btn:hover {
    background-color: #0F75bb;
}

.nav-btn a {
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
}


/* ************ Nav bar Css End ************ */

/* ********* Main css ************ */

.main .main-round {
    margin-top: 100px;
    margin-left: 30px;
    height: 350px;
    width: 350px;
    background-color: #0F75bb;
    border-radius: 200px;
}

.main-img {
    width: 320px;
    height: 330px;
    margin-top: -355px;
    border-radius: 200px;
    margin-left: 60px;
}

.main-p {
    margin-left: 420px;
    margin-top: -310px;
    color: #0a5386;
    font-family: "Comfortaa", Sans-serif !important;
    /* font-size: 3.1em!important; */
    font-weight: 600 !important;
    font-size: 38px;
}

.main-p0 {
    margin-left: 420px;
    margin-top: -15px;
    color: #0a5386;
    font-family: "Comfortaa", Sans-serif !important;
    font-weight: 600 !important;
    font-size: 38px;
}

.main-p span {
    /* position: relative; */
    margin-top: 450px;
    margin-left: -800px;

}

.main-p1 {
    margin-left: 420px;
    margin-top: 15px;
    color: #0a5386;
    font-size: 19px;
}

.main-btn {
    margin-top: 15px;
    margin-left: 420px;
    height: 53px;
    font-size: 14px;
    width: 140px;
    background-color: #39b54a;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
}

.main-btn:hover {
    background-color: #0F75bb;
}

.main-btn a {
    color: #fff;
    text-decoration: none;
}

/* ********* Main css End ************ */
/* *******  massage box ******** */

.mas-box {
    background-color: #0F75bb;
    margin-top: 85px;
    /* display: inline ; */
    /* position: fixed; */
    width: 100%;
    height: 90px;
}

.mas-box span {
    color: #fff;
    position: absolute;
    margin-left: 100px;
    margin-top: 33px;
}

.mas-box span:hover {
    color: #3BB161;
}

.mas-box a {
    color: #fff;
    text-decoration: none;
}

.mas-box a:hover {
    color: #3BB161;
}


.mas-box-p a {
    position: absolute;
    margin-left: 400px;
    margin-top: 34px;
}


.mas-box-p1 a {
    position: absolute;
    margin-left: 550px;
    margin-top: 18px;
}

.mas-box-btn {
    margin-left: 720px;
    margin-top: 7px;
    border-radius: 30PX;
    height: 50px;
    width: 140px;
    font-size: 14PX;
    color: #FFF;
    background-color: #0F75bb;
    border-color: white;
    transition: 0.3s;
}

.mas-box-btn1 {
    margin-left: 20px;
    border-radius: 30PX;
    height: 50px;
    width: 180px;
    color: #FFF;
    font-size: 14PX;
    background-color: #39b54a;
    border: none;
    transition: 0.3s;
}

.mas-box-btn2 {
    margin-left: 20px;
    border-radius: 30PX;
    height: 50px;
    width: 140px;
    color: #FFF;
    font-size: 14PX;
    background-color: #0F75bb;
    border-color: white;
    transition: 0.3s;
}

.mas-box-btn2:hover,
.mas-box-btn:hover {
    background: #39b54a;
}


.mas-box-btn1:hover {
    background-color: #1399f6;
}




/* *******  massage box End ******** */

/* ********** pricing chat ************ */


.chat table {
    font-family: "Comfortaa";
    color: #0F75bb;
    border-collapse: collapse;
    width: 260px;
    margin-top: 80px;
    margin-left: 15PX;
}

.chat tr th {
    height: 180px;
    background-color: #3bb161;
    color: white;
    padding: 20px 35px;
}

.chat td,
th {
    border: 2px solid #dddddd;
    text-align: left;
    height: 70px;
    padding: 8px;
}

.chat tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* ********** pricing chat End ************ */
/* *********** Business Plan ********** */


.tabbed {
    font-family: 'Comfortaa';
    width: 1031px;
    /* margin: 71px; */
    margin-left: 50px;
    margin-top: 100px;
    color: #0a5386;
}

.tabbed>input {
    display: none;

}

.tabbed .tabs h2 {
    color: #3bb161;
    font-size: 21px;
    margin-top: 32px;
}


.tabbed>label {
    display: block;
    float: left;
    color: #666666;
    background-color: #eee;
    padding: 14px 15px;
    margin-right: 3px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #666;
    transition: background-color .3s;
}


.tabbed>label:hover,
.tabbed>input:checked+label {
    background: #fff;
}

.tabs {
    clear: both;
    color: #0a5386;
    font-size: 17px;
    perspective: 600px;
}

.tabs-btn {
    font-family: 'Comfortaa';
    margin-left: 5px;
    margin-top: 25px;
    font-size: 14px;
    height: 30px;
    width: 250px;
    background: #eee;
    border: 1px solid #ccc;
}

.tabs>div {
    background: #fff;
    width: 1220px;
    position: absolute;
    border: 2px solid gray;
    padding: 16px 19px 11px;
    line-height: 1.8em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
}

#tab-nav-1:checked~.tabs>div:nth-of-type(1),
#tab-nav-2:checked~.tabs>div:nth-of-type(2),
#tab-nav-3:checked~.tabs>div:nth-of-type(3),
#tab-nav-4:checked~.tabs>div:nth-of-type(4),
#tab-nav-5:checked~.tabs>div:nth-of-type(5) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}


.tabs li {
    margin-left: 20px;
}

/* @media screen and (max-width: 700px) {
  .tabbed {
    width: 400px
  }

  .tabbed>label {
    display: none
  }

  .tabs>div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }

  .tabs>div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
} */
/* *********** Business Plan End********** */

/* *********** Contact Us ************ */

.contact {
    text-align: center;
    margin-top: 650px;
    color: #0a5386;
}

.contact .contact-p {
    font-size: 18px;
}

.contact .contact-p span {
    margin-left: -335px;
}

.contact .contact-p1 {
    /* color: #02c212; */
    font-size: 18px;
    margin-top: -3px;
    margin-left: -364px;
}

.contact .taxt {
    margin-left: 10px;
}

.contact .taxt ::placeholder {
    color: #0a5386;
    padding: 10px;
}

.contact .taxt .taxt-Name {
    width: 380px;
    height: 40px;
    color: #0a5386;
}

.contact .taxt .taxt-Phone {
    width: 380px;
    height: 40px;
    margin-left: 10px;
}

.contact .taxt .taxt-Email {
    width: 380px;
    height: 40px;
    margin-top: -20px;
    margin-left: -395px;
}

.contact .taxt .sub-div1 {
    margin-left: 0px;
    font-family: 'Myriad Pro';
    margin-top: -40px;

}

.contact .taxt .sub-div1 label select {
    width: 380px;
    height: 40px;
    margin-left: 395px;
}

.mess {
    margin-top: 10px;
    color: #0a5386;
}

.cnt-btn {
    margin-top: 5px;
    width: 780px;
    height: 40px;
    border-radius: 30px;
    background-color: #0F75bb;
    border: none;
    transition: 0.3s;
}

.cnt-btn:hover {
    background-color: #3ea9ec;
}

.cnt-btn a {
    color: white;
    text-decoration: none;
}

/* *********** Contact Us End ************ */

/* ************* Message Box ***************** */
.message-box {
    background-color: #0f75bc;
    height: 180px;
    margin-top: 100px;
}

.message-box p {
    color: white;
    font-size: 34px;
    padding: 60px 40px;
}


.message-box-btn {
    position: absolute;
    margin-top: -115px;
    margin-left: 1080px;
    height: 50px;
    width: 220px;
    font-size: 14px;
    border: none;
    background-color: #39b54a;
    border-radius: 40px;
    transition: 0.3s;
}

.message-box-btn a {
    color: #fff;
    text-decoration: none;

}

.message-box-btn:hover {
    background-color: #1399f6;
}

/* ************* Message Box End ***************** */



/* ******** Footer Start ********* */

.footer {
    background-color: #fff;
    height: 500px;
}

.Footer-logo {
    width: 200px;
    height: 90px;
    margin-top: -50px;
    margin-left: 50px;
}

.Footer-munim {
    width: 250px;
    height: 150px;
    margin-top: 200px;
    margin-left: -220px;
}

.footer h5{
    margin-left: 50px;
    margin-top: 10px;
    color: #3BB161;
}

.footer .l1{
    background-color: #0F75bb;
    margin-left: 50PX;
    margin-top: 20px;
    width: 30PX;
    list-style: none;
    height: 30px;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}

.footer .l1:hover{
    background-color: #3BB161;
    transform: scale(1.2);
}

.bi-facebook{
    /* background-color: #0F75bb; */
       color: #fff;
    margin-left: 7px;
    margin-top: 5px;
}

.footer .li2{
    background-color: #0F75bb;
    margin-left: 85px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: -30px;
    transition: all .2s ease-in-out;
}

.footer .li2:hover{
    background-color: #3BB161;
    transform: scale(1.2);
}

.bi-instagram{
    color: #fff;
    margin-left: 7px;
    margin-top: 5px;
}



.footer .li3{
    background-color: #0F75bb;
    margin-left: 120px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: -30px;
    transition: all .2s ease-in-out;
}

.footer .li3:hover{
    background-color: #3BB161;
    transform: scale(1.2);
}

.bi-google{
    color: #fff;
    margin-left: 7px;
    margin-top: 5px;
}


.footer .li4{
    background-color: #0F75bb;
    margin-left: 155px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: -30px;
    transition: all .2s ease-in-out;
}

.footer .li4:hover{
    background-color: #3BB161;
    transform: scale(1.2);
}

.bi-youtube{
    color: #fff;
    margin-left: 7px;
    margin-top: 5px;
}

.footer .li5{
    background-color: #0F75bb;
    margin-left: 190px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: -30px;
    transition: all .2s ease-in-out;
}

.footer .li5:hover{
    background-color: #3BB161;
    transform: scale(1.2);
}

.bi-linkedin{
    color: #fff;
    margin-left: 7px;
    margin-top: 5px;
}

.Menu-list{
    position: relative;
    margin-left: 450px;
    margin-top: -350px;
}

.Menu-list a{
    text-decoration: none;
    color: #39b54a;
}
.Menu-list ul li{
    font-size: 22px;
    list-style: none;
    
}

.Menu-list ul ul li a{
    font-size: 16px;
    color: #0f75bc;
    padding: 6px 0px;
}


.Menu-list ul ul{
    margin-top: 10px;
}

.Menu-list ul ul li a:hover {
    color: #39b54a;
}


.Menu-list1 {
    position: relative;
    margin-left: 670px;
    margin-top: -295px;
}

.Menu-list1 a{
    text-decoration: none;
    color: #39b54a;
}

.Menu-list1 ul li{
    color: #39b54a;
    font-size: 22px;
    list-style: none;
}

.Menu-list1 ul ul li a{
    font-size: 16px;
    color: #0f75bc;
    padding: 6px 0px;
}

.Menu-list1 ul ul li a:hover {
    color: #39b54a;
}

.Menu-list1 ul ul{
    margin-top: 10px;
}


.Menu-list2 {
    position: relative;
    margin-left: 900px;
    margin-top: -325px;
}

.Menu-list2 a{
    text-decoration: none;
    color: #39b54a;
}

.Menu-list2 ul li{
    color: #39b54a;
    font-size: 22px;
    list-style: none;
}

.Menu-list2 ul ul li a{
    font-size: 16px;
    color: #0f75bc;
    padding: 6px 0px;
}

.Menu-list2 ul ul li a:hover {
    color: #39b54a;
}

.Menu-list2 ul ul{
    margin-top: 10px;
}

/* ******* Footer End******** */

/* ************* last-div ********** */

.last-div{
    color: #82cded;
    margin-left: 450px;
    margin-top: 20px;
    font-size: 18px;
}

/* ************* last-div End********** */







.best-plan {
    margin: 0 auto 30px auto;
    position: relative;
    z-index: 99;
    font-family: 'Comfortaa';
    font-size: 15px;
    line-height: 1.55;
    
    color: rgba(51, 51, 51, 1);
    font-weight: 300;
}

.best-plan__head {
    text-align: center;
    margin-bottom: 45px;
}

.best-plan__title {
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 800;
    color: #3c2f17;
}

.best-plan__title+p {
    font-size: 18px;
    font-weight: 300;
}

.b-price-plan {
    border: 1px solid #0F75bb;
    max-width: 200px;
    margin: 0 auto 10px auto;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    -o-transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
}

.b-price-plan__item {
    padding: 17px 17px;
    background-color: #3bb161;
}


.b-price-plan__head {
    background-color: #3bb161;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.b-price-plan__head:hover{
    background-color: #0f75bb;
}

.b-price-plan__head>h3 {
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    margin: 0;
    letter-spacing: 1px;
}

.price_foot {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.price_foot:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125, 138, 164, .1);
    -webkit-transition: top .6s linear;
    -o-transition: top .6s linear;
    transition: top .6s linear;
}

.b-price-plan__cost {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 99;
    text-align: center;
    background: rgba(125, 138, 164, .1);
}

.cost-title {
    font-size: 27px;
    line-height: 1;
    font-weight: 700;
    color: #0a5386;
}

.cost-title:before {
    content: '\f155';
    font-family: 'Comfortaa';
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    position: relative;
    top: -20px;
    display: none;
}
.cost-title>span {
    position: relative;
    top: -25px;
    left: 5px;
    font-size: 12px;
}

.cost-time {
    font-size: 13px;
    color: #0a5386;
}

.price-plan_pro {
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
}

.p_plan_list {
    padding: 0;
    margin: 0;
}

.p_plan_list>li {
    position: relative;
    padding: 36px 13px 16px 89px;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid rgba(125, 138, 164, .1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.bi-x-lg{
    color: red;
    margin-left: -17px;
}

.bi-check-lg{
     color: #0F75bb;
     margin-left: -17px;
}

.p_plan_list>li:hover {
    border-color: rgba(13, 73, 194, 0.1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgba(20, 78, 194, 0.06);
    box-shadow: 0 2px 4px rgba(125, 138, 164, .06);
    position: relative;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-color: #f8f9fa;
    z-index: 99;
}

.p_plan_list>li .fa {
    color: rgba(125, 138, 164, 1);
    margin-right: 8px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 89px;
    margin-top: -8px;
}

.p_plan_list>li .fa.text-success {
    color: rgba(160, 206, 78, 1) !important;
}

.p_plan_list>li .fa.text-danger {
    color: rgba(253, 99, 71, 1) !important;
}

.p_plan_list>li:first-of-type {
    border-top: none;
}

/* price_btn style */
.price_btn {
    overflow: hidden;
    position: relative;
    z-index: 99;
    margin: 15px auto;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(125, 138, 164, 1);
    text-decoration: none;
    text-transform: uppercase;
    width: 75%;
    border: 2px solid rgba(125, 138, 164, 1) !important;
    background: #fff !important;
    padding: 15px 20px !important;
    -webkit-border-radius: 5px;
    border-radius: 31px;
}

.price_btn:before,
.price_btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50%;
    background: rgba(125, 138, 164, 1) !important;
    -webkit-transition: width .3s ease-in;
    -o-transition: width .3s ease-in;
    transition: width .3s ease-in;
}

.price_btn:after {
    top: auto;
    bottom: 0;
    -webkit-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
    transition: width .4s ease-in;
}

.price_btn:hover:before,
.price_btn:hover:after {
    width: 100%;
}

.price_btn>span {
    position: relative;
    z-index: 99;
}

.price_btn .fa {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 99;
    width: 30px;
    opacity: 0;
    -webkit-transition: left .55s linear, opacity .55s linear;
    -o-transition: left .55s linear, opacity .55s linear;
    transition: left .55s linear, opacity .55s linear;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.price_btn:hover .fa {
    left: 80%;
    opacity: 1;
}

.price_btn:hover {
    overflow: visible;
    background: #fff;
    border-color: rgb(11, 51, 129) !important;
}

.price_btn:active,
.price_btn:focus {
    background: rgba(125, 138, 164, 1) !important;
    border-color: rgba(125, 138, 164, 1) !important;
}

.b-price-plan:hover {
    -webkit-box-shadow: 0 10px 20px rgba(125, 138, 164, .25) !important;
    box-shadow: 0 10px 20px rgba(125, 138, 164, .25) !important;
    /* box-shadow: 0 10px 20px #0f75bc!important; */
}

.b-price-plan:hover .price_foot:before {
    top: 0;
}

.b_plan_body:hover .b-price-plan {
    opacity: .75;
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
}

.b_plan_body:hover .b-price-plan:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.ftr {
    text-align: center;
}


.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 19.333333%;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 0.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 12px;
}

.col-sm-4{
    margin-left: 5px;
}

.b_plan_body {
    margin-top: -1025px;
    margin-left: 171px;
    position: absolute;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -151px;
    margin-left: -2px;
    width: 1055px;
}                                                                                                                                                                               